.profile__user-title {
  max-width: 330px;
  margin: 0;
  display: inline;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .profile__user-title {
    text-align: center;
    max-width: 230px;
    font-size: 27px;
    line-height: 33px;
    margin: 2px 0 0 29px;
  }
}
