.profile__button-edit {
  max-width: 23px;
  width: 100%;
  min-height: 23px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.profile__button-edit:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__button-edit {
    max-width: 18px;
    min-height: 18px;
  }
}
