.profile__button-edit {
  width: 23px;
  height: 23px;
  padding: 0;
  border: 1px solid #fff;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url(../../../images/Edit\ Button.svg);
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.profile__button-edit:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
