.popup__input-container {
  display: flex;
  flex-direction: column;
}
.popup__input-container:last-of-type {
  margin: 0 0 20px;
}
@media screen and (max-width: 580px) {
  .popup__input-container {
    padding: 0;
  }

  .popup__input-container:last-of-type {
    margin: 0 0 15px;
  }
}
