.popup__title {
  margin: 0;
  padding: 34px 0 38px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
@media screen and (max-width: 580px) {
  .popup__title {
    padding: 25px 0 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
