.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 7px;
  margin: 0 0 30px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.8px;
  word-spacing: -2px;
}
.popup__input:last-of-type {
  margin: 0 0 50px;
}
@media screen and (max-width: 580px) {
  .popup__input {
    padding: 0 0 8px;
    letter-spacing: 0.7px;
    word-spacing: -2px;
  }

  .popup__input:last-of-type {
    margin: 0 0 45px;
    letter-spacing: 0.7px;
    word-spacing: -2px;
  }
}
