.profile__user-subtitle {
  margin: 0;
  display: inline;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .profile__user-subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
