.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 50px;
}
@media screen and (max-width: 1023px) {
  .profile {
    padding: 40px 19px 50px;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding: 40px 19px 36px;
  }
}
