.card__button {
  width: 22px;
  height: 19px;
  padding: 0;
  margin: 0 5px 5px 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease;
  background-image: url(../../../images/heart_icon_empty.svg);
  background-size: inherit;
  background-repeat: no-repeat;
}
.card__button:hover {
  opacity: 0.5;
}
.card__button:before {
  content: '';
  display: block;
  padding-top: 19px;
}
