.profile__user-title {
  margin: 0;
  display: inline;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .profile__user-title {
    font-size: 27px;
    line-height: 33px;
  }
}
