.profile__button-add {
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  height: 100%;
  margin-left: auto;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url(../../../images/add_button_icon.svg);
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  outline: none;
}
.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    max-width: inherit;
    background-size: 19px;
  }
}
