.card__title {
  max-width: calc(100% - 40px);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.9px;
  word-spacing: -5px;

  /* word-spacing: -7px;
  letter-spacing: 1.1px; */
}
